.ff0{font-family:sans-serif;visibility:hidden;}
.sc_{text-shadow:none;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
}
.y0{bottom:0.000000px;}
.h0{height:680.300000px;}
.h1{height:680.500000px;}
.w0{width:1347.490000px;}
.w1{width:1347.500000px;}
.x0{left:0.000000px;}
@media print{
.y0{bottom:0.000000pt;}
.h0{height:907.066667pt;}
.h1{height:907.333333pt;}
.w0{width:1796.653333pt;}
.w1{width:1796.666667pt;}
.x0{left:0.000000pt;}
}
